{
  "semi": false,
  "jsxSingleQuote": true,
  "singleQuote": false,
  "trailingComma": "all",
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "singleAttributePerLine": true,
  "printWidth": 120
}